html,
body {
  padding: 0;
  margin: 0;
  background-color: rgb(27, 27, 27);
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  color: #93ffd8;
}

* {
  box-sizing: border-box;
}

div {
  font-weight: 400;
}

/* color: #7900ff; */

table {
  padding: 1.5rem;
}
