.container {
  padding: 2 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  color: transparent;
  background: linear-gradient(45deg, #93ffd8, #7900ff);
  background-clip: text;
  line-height: 4rem;
}

.title,
.description {
  text-align: center;
}

.tableWrapper {
  margin: 2rem 2rem;
}

.row {
  padding: 1.5rem;
  border: 1px solid #7900ff;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px #93ffd769;
  margin: 1rem 0 1rem 0;
}

.pageButtons {
  display: flex;
  margin-top: 2rem;
}

.box,
.active,
.disabled {
  border-radius: 10px;
  height: 40px;
  width: 40px;
  margin: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.box {
  border: 1px solid #ffffff;
}

.disabled {
  border: 1px solid #555555;
  color: #555555;
  cursor: default;
}

.active,
.box:hover {
  border: 1px solid #7900ff;
  box-shadow: 0 0 10px #93ffd79d;
}
